<!DOCTYPE html>
<html lang="ja">
<%- include('./element/head') %>
<body>
	<%- include('./element/nav') %>
	<%- include('./element/content') %>
	<%- include('./element/footer') %>
	<%- include('./element/script') %>
</body>
</html>