<!DOCTYPE html>
<html lang="ja">
<%- include('./element/head') %>
<body>
	<%- include('./element/nav') %>
	<%- include('./element/content') %>
	<%- include('./element/footer') %>
	
	<script src="/socket.io/socket.io.js"></script>
	<script>
	    var socket = io();
	</script>
	
	<%- include('./element/common_scripts') %>
	<%- include('./element/script') %>
</body>
</html>